# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
Academic_Calendar_venv/
venv/
env/

# Secrets and Credentials
token.json
credentials.json
.env

# IDE and OS files
.vscode/
.idea/
*.DS_Store

# Docker self host
docker-compose.yaml
Dockerfile